# Analisando os jogos para celular no sistema Android

### Importando os dados

In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('C:/Users/Suporte/Documents/Python_Projects/csv/android-games.csv')

### Verificando os Dados da Tabela

In [30]:
df.head(4)

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,1,Garena Free Fire - The Cobra,80678661,500.0 M,4.33,2.9,7.9,0.0,GAME ACTION,61935712,4478738,2795172,1814999,9654037,False
1,2,PUBG MOBILE: Graffiti Prank,35971961,100.0 M,4.24,2.0,3.1,0.0,GAME ACTION,26670566,2109631,1352610,893674,4945478,False
2,3,Mobile Legends: Bang Bang,25836869,100.0 M,4.08,1.6,3.3,0.0,GAME ACTION,17850942,1796761,1066095,725429,4397640,False
3,4,Brawl Stars,17181659,100.0 M,4.27,4.1,6.6,0.0,GAME ACTION,12493668,1474319,741410,383478,2088781,False

### Quantas Linhas e Colunas possui

In [31]:
df.shape

(1730, 15)

### Os 5 Maiores Jogos 5 Estrelas

In [32]:
df.nlargest(5, '5 star ratings')

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,1,Garena Free Fire - The Cobra,80678661,500.0 M,4.33,2.9,7.9,0.0,GAME ACTION,61935712,4478738,2795172,1814999,9654037,False
1424,1,Clash of Clans,55170976,500.0 M,4.49,0.3,0.6,0.0,GAME STRATEGY,42736445,5397273,2285363,978099,3773793,False
200,1,Subway Surfers,35305263,1000.0 M,4.44,0.5,1.1,0.0,GAME ARCADE,26840330,3377645,1618461,801027,2667798,False
1,2,PUBG MOBILE: Graffiti Prank,35971961,100.0 M,4.24,2.0,3.1,0.0,GAME ACTION,26670566,2109631,1352610,893674,4945478,False
622,1,Candy Crush Saga,30859251,1000.0 M,4.56,0.7,1.6,0.0,GAME CASUAL,23521533,4128497,1484852,457810,1266557,False

### Os jogos Mais Instalados

In [33]:
 df[['title', 'installs']].groupby('installs').max()

                                      title
installs
1.0 M                        회색도시 for Kakao
10.0 M    🚓🚦Car Driving School Simulator 🚕🚸
100.0 M                          slither.io
100.0 k                         فكر ـ Think
1000.0 M                     Subway Surfers
5.0 M                피망 뉴맞고 : 고스톱으로 대한민국 1등
50.0 M                   eFootball PES 2021
500.0 M                        Temple Run 2
500.0 k                超級單字王 - 英檢、多益、托福 輕鬆學

### Alterando nome das Colunas 'Title' e '4 star ratings'

In [34]:
df.rename(columns = {'title' : 'Título', '5 star ratings' : '5 Estrelas'}, inplace = True)

In [35]:
df.head(1)

,rank,Título,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 Estrelas,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,1,Garena Free Fire - The Cobra,80678661,500.0 M,4.33,2.9,7.9,0.0,GAME ACTION,61935712,4478738,2795172,1814999,9654037,False

### Mostrando Somente a Coluna com os 8 primeiros Títulos'

In [36]:
 print(df['Título'][0:8])

0                    Garena Free Fire - The Cobra
1                     PUBG MOBILE: Graffiti Prank
2                       Mobile Legends: Bang Bang
3                                     Brawl Stars
4    Sniper 3D: Fun Free Online FPS Shooting Game
5                                  Shadow Fight 2
6        Call of Duty®: Mobile - Day of Reckoning
7                                        Among Us
Name: Título, dtype: object

### Os 5 Jogos Menos Avaliados ('total ratings')

In [37]:
df.nsmallest(5, 'total ratings')

,rank,Título,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 Estrelas,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
923,100,Beat Blader 3D: Dash and Slash!,38238,10.0 M,4.00,7.8,15.7,0.0,GAME MUSIC,24165,3453,2887,1756,5974,False
922,99,Pink Piano,38740,10.0 M,4.00,2.2,5.8,0.0,GAME MUSIC,25454,2674,2309,1579,6721,False
921,98,Project: Muse,40251,1.0 M,4.22,1.2,2.8,0.0,GAME MUSIC,25051,6799,3638,1779,2982,False
920,97,Anime Tiles: Piano Music,40374,1.0 M,3.91,3.4,8.6,0.0,GAME MUSIC,22255,6109,4046,2192,5770,False
919,96,Viet Piano Tiles New 2020,40385,1.0 M,4.49,0.9,3.0,0.0,GAME MUSIC,31138,4108,1699,719,2718,False

### Filtrando os Jogos Pagos (paid = True)

In [38]:
df.loc[df['paid']==True]

,rank,Título,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 Estrelas,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
91,92,Hitman Sniper,848831,10.0 M,4.41,0.3,0.8,0.99,GAME ACTION,607502,115334,48040,19224,58729,True
153,54,Terraria,317546,1.0 M,4.65,1.0,2.3,4.99,GAME ADVENTURE,264563,24837,10184,4387,13572,True
211,12,Minecraft,3999232,10.0 M,4.54,1.4,2.8,7.49,GAME ARCADE,3214765,312995,138682,70661,262126,True
261,62,Geometry Dash,767518,1.0 M,4.62,0.6,1.2,1.99,GAME ARCADE,623950,73997,25169,9705,34694,True
477,64,Reigns,146504,500.0 k,4.58,0.1,0.2,2.99,GAME CARD,108627,25330,5696,2743,4105,True
869,46,Cytus II,109687,1.0 M,4.59,1.0,2.2,1.99,GAME MUSIC,86420,12246,4534,1999,4484,True
1588,65,Trivia Crack (No Ads),74594,500.0 k,4.58,0.9,2.2,1.99,GAME TRIVIA,55411,12625,3123,1117,2315,True

### Jogos acima de $ 2.00

In [39]:
df.loc[df['price'] >= 2]

,rank,Título,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 Estrelas,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
153,54,Terraria,317546,1.0 M,4.65,1.0,2.3,4.99,GAME ADVENTURE,264563,24837,10184,4387,13572,True
211,12,Minecraft,3999232,10.0 M,4.54,1.4,2.8,7.49,GAME ARCADE,3214765,312995,138682,70661,262126,True
477,64,Reigns,146504,500.0 k,4.58,0.1,0.2,2.99,GAME CARD,108627,25330,5696,2743,4105,True

### Apagando a Coluna "1 Star Ratings"

In [40]:
del df['1 star ratings']

In [41]:
df.head(1)

,rank,Título,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 Estrelas,4 star ratings,3 star ratings,2 star ratings,paid
0,1,Garena Free Fire - The Cobra,80678661,500.0 M,4.33,2.9,7.9,0.0,GAME ACTION,61935712,4478738,2795172,1814999,False

### Alterando a Coluna "2 Star Ratings" de Inteiro para Float (sem inplace)

In [44]:
star2 = df['2 star ratings'].astype(float)

In [45]:
star2.head(5)

0    1814999.0
1     893674.0
2     725429.0
3     383478.0
4     375159.0
Name: 2 star ratings, dtype: float64

### Média de Preço dos Aplicativos

In [46]:
 df['price'].mean()

0.012965317919075145

### Média de Classificação (0 a 5)

In [47]:
df['average rating'].mean()

4.313410404624285